.sidebar {
  height: 100vh;
  width: 80px; /* Default small size */
  transition: width 0.3s ease;
  display: flex;
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
  white-space: nowrap;
  align-items: center; /* Center icons horizontally */
  border-right: 2px solid #ccc; /* Add a right border */
  align-items: start; /* Aligns items to the top */
  padding-top: 10px; /* Optional spacing */
 
}

.sidebar.open {
  width: 200px; /* Expanded size */
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.sidebar img, .sidebar i {
  width: 24px; /* Icon size */
  height: 24px;
  margin-right: 10px; /* Space between icon and text */
}

.sidebar span {
  opacity: 0; /* Hide text */
  transition: opacity 0.3s ease;
}

.sidebar.open span {
  opacity: 1; /* Show text on hover */
}

.nav-link:hover {
  border-radius: 25px;
  background: #d0f0d8; 
  padding: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 150px; /* Expanded width when hovered */

}
.btn,.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#3fa53f 0,#006c51,#023d0f 100%) !important; /* override background image gradient w/ flat color */
}
.img-icon {
  width: 2rem;  /* Match icon size */
  height: 3rem; /* Keep it square */
  object-fit: contain; /* Ensures the image scales properly */
}
.navbar-brand{
  font-family:'Times New Roman', Times, serif;
  color: white;
}
